<div class="main-container container animate__animated animate__fadeIn">
    <div class="text-center">
        <img src="./../../../assets/moogle.png" class="pt-5">
        <h6 class="text-center"> Buscar por</h6>
    </div>
</div>
<div class="btn-group" role="group">
    <button class="btn btn-success" [routerLink]="['/pais']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Pais </button>
    <button class="btn btn-info" [routerLink]="['/region']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Region </button>
    <button class="btn btn-danger" [routerLink]="['/capital']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Capital </button>
</div>